# Database Configuration
DATABASE_URI=postgresql://adminPayload:${POSTGRES_PASSWORD}@localhost:5432/payloadPostgres
PAYLOAD_SECRET=your-very-secure-secret-key-here
NEXT_PUBLIC_SERVER_URL=https://hankier.pl

# PostgreSQL Configuration
POSTGRES_USER=adminPayload
POSTGRES_PASSWORD=your-secure-password-here
POSTGRES_DB=payloadPostgres
RATE_LIMIT_WINDOW=900000  # 15 minutes
RATE_LIMIT_MAX=500
RATE_LIMIT_TRUST_PROXY=true
